{
    "captcha_api_key": "",
    "use_captcha": true,
    "threads": 2,
    "delay": 2.0,
    "auto_check_updates": true,
    "update_url": "https://raw.githubusercontent.com/silent404s/IndexRadar/main/version.json"
}
